.form-textarea {
    display: block;
    padding: 0.625rem;
    width: 100%;
    font-size: 0.875rem;
    color: rgb(17 24 39);
    background-color: rgb(249 250 251);
    border-radius: 0.5rem;
    border: 1px solid rgb(209 213 219);
}